<html>
  <head></head>
  <body>

	<h2>{{title}}</h2>
	
	<form method="post" action="/public/index.php?path=auth/profile" accept-charset="utf-8">
		<input type="text" name="name"/>
		<input type="submit" value="name" />
	</form>

  </body>
</html>
