<html>
  <head></head>
  <body>
	<h2>{{title}}</h2>
	
	<form method="post" action="/?path=product/new">
		<input type="text" name="name"/>
		<input type="submit" value="name" />
	</form>

  </body>
</html>
